* {
  box-sizing: border-box;
}
/* variables */
:root {
  --primary: #917e77;
  --secondary: #572935;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--secondary);
}

li {
  list-style-type: none;
}
/* base styles */
body {
  overflow-x: hidden;
  font-family: "Roboto Regular";
}
/* button {
  border: none;
} */
.button {
  border: 1px solid var(--secondary);
  border-radius: 8px;
  background-color: var(--secondary);
  width: 6.25rem;
  font-weight: bold;
  color: white;
  padding: 5px 20px;
  margin: 2.5rem 0;
}

.button:hover {
  background-color: #fff;
  color: var(--secondary);
}

.button-two {
  border: 1px solid var(--secondary);
  border-radius: 8px;
  background-color: white;
  font-weight: bold;
  padding: 0.3rem 1.25rem;
}
.button-two:hover {
  background-color: var(--secondary);
  color: #fff;
}

/* nav section styling */
nav {
  background-color: var(--primary);
  padding: 0.1px 0;
  margin-top: 1rem;
}
nav h4:hover {
  color: #ccc;
}
nav h4 {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}

/* fonts */
@font-face {
  font-family: "Roboto Regular";
  src: url(fonts/Roboto-Regular.ttf);
}
.we {
  color: #904458;
}
.walk {
  color: var(--secondary);
}

/* mobile styles */

h1 {
  text-align: center;
}
.flex-one > ul {
  display: flex;
  justify-content: center;
}
.flex-one > ul > li {
  margin: 0 0.2rem;
}
/* style the head-image */

.head-img {
  width: 100%;
  text-align: center;
}

.grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.6rem;
  width: 100%;
  max-width: 65rem;
  margin: 0.7rem auto;
}
.grid-one > div {
  margin: 0 0.5rem;
}

.item-b {
  grid-column: 3/4;
}

.item-c {
  grid-column: 2/3;
}

.item-a,
.item-b,
.item-c {
  text-align: center;
  font-size: 0.8rem;
}
.item-a:hover,
.item-b:hover,
.item-c:hover {
  background-color: #eee;
}

/* welcome section */
.welcome {
  background-color: var(--primary);
  padding-top: 0.3rem;
}
.welcome > h2 {
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.6rem 0;
}
.flex-four {
  background-color: #fff;
}
.flex-four > img {
  width: 100%;
}
.flex-four > div {
  margin: 0.3rem;
}
.flex-four > div > p {
  margin: 0.7rem;
}

.flex-four > div {
  text-align: center;
}
.flex-four > div > p {
  text-align: justify;
}
/* our top models */
.top-models > h3,
.grid-two > div {
  text-align: center;
}
.grid-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0.6rem 0;
}

.grid-two > div img {
  /* width: 5px; */
  width: 100%;
}

.item-e {
  grid-column: 3/4;
}
/* i didnt define the row of item-c 
bacause it is also in low by default */
.item-f {
  grid-column: 2/3;
}
.item-d:hover,
.item-e:hover,
.item-f:hover {
  background-color: #eee;
}

/* styling the "Our Modelling Services" section */
.modeling-services > h3 {
  text-align: center;
}
.grid-three > div {
  font-size: 0.8rem;
  text-align: center;
}

.grid-three > div {
  margin: 1.25rem 0;
}

.grid-three > div > img {
  width: 50%;
}

.grid-three > div > p {
  margin: 10px 0;
}

/* footer style */
.footer {
  background-color: var(--primary);

  color: #fff;
  padding: 0.3rem 0;
}
.footer h3 {
  margin-left: 1.25rem;
}
.footer div {
  margin: 0 auto;
  width: 70%;
}

.footer ol li {
  color: #fff;
  list-style-type: decimal;
}

/* small screen styles */
@media screen and (min-width: 576px) {
  body {
    /* background-color: #aaa; */
  }

  .flex-one {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    margin: 0 1.25rem 0 1.75rem;
  }
  .flex-one > ul {
    display: flex;
    /* align-items: center; */
    margin-top: 0.75rem;
  }
  .flex-two {
    display: flex;
    justify-content: space-around;
  }

  .flex-one > ul {
    display: flex;
  }
  .flex-one > ul > li {
    margin: 0 0.2rem;
  }

  /* this is to design the grid-one */

  .grid-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 0;
    /* grid-auto-rows: minmax(100px, 250px); */
  }

  .grid-three > div {
    margin: 0;
  }

  .grid-three > div img {
    width: 100%;
    height: 50%;
  }
  .grid-three > div:nth-child(2) {
    grid-column: 3/4;
  }
  .grid-three > div:nth-child(3) {
    margin-top: -2rem;
    grid-column: 2/3;
  }
}

/* small tablet styles */
@media screen and (min-width: 768px) {
  body {
    /* background-color: #ccc; */
  }
  /* .flex-one {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    margin: 0 1.25rem 0 1.75rem;
  }
  .flex-one > ul {
    display: flex;
    align-items: center; 
    margin-top: 0.75rem;
  } */
  .flex-two {
    display: flex;
    justify-content: space-around;
  }

  .item-b {
    grid-column: 2/3;
  }

  .item-c {
    grid-column: 3/4;
  }

  /* desing the welcome section */
  .welcome {
    /* position: relative; */
    /* height: 60vh; */
  }
  .flex-four {
    /* position: absolute; */
    display: flex;
    margin: 0.5rem 0 0 4rem;
    /* z-index: 1; */
  }
  .flex-four > img {
    width: 35%;
  }
  /* .flex-four {
    float: right;
  } */
  .flex-four > div > p {
    padding: 8rem 2rem 0 2rem;
  }

  /* our top models */

  .item-e {
    grid-column: 2/3;
  }

  .item-f {
    grid-column: 3/4;
  }

  /* our modeling services */

  .grid-three > div:nth-child(2) {
    grid-column: 2/3;
  }
  .grid-three > div:nth-child(3) {
    margin-top: 0;
    grid-column: 3/4;
  }
  .grid-three > div:nth-child(1) > p {
    margin-bottom: 0.9rem;
  }
  .grid-three > div:nth-child(2) > p {
    margin-bottom: 1.75rem;
  }
}

/* large tablets and laptops */
@media screen and (min-width: 992px) {
  body {
    /* background-color: aquamarine; */
  }

  .flex-four > div > p {
    padding: 12rem 2rem 0 2rem;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}

/* work on this next */
/* large desktop styles */
@media screen and (min-width: 1400px) {
  /* font size */
  .flex-one > h1 {
    font-size: 55px;
  }
  .welcome h2,
  .top-models h3,
  .modeling-services h3,
  .footer h3 {
    font-size: 43px;
  }
  .flex-one a,
  .flex-two h4,
  .flex-three h5,
  .grid-three h5 {
    font-size: 25px;
  }
  .grid-one p,
  .flex-four div,
  .grid-two h6,
  .modeling-services p,
  .modeling-services a,
  .footer li {
    font-size: 22px;
  }
}
